.App {
  margin: 0;
  text-align: center;
  color: white;
  
}

.Navbar {
  background-color: #ff5a00;
  min-height: 60px;
  display: flex;
  padding: 20px 40px 0px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.NavbarH2 {
  margin: 0; 
  text-decoration: none;
  color: white;
}
.NavbarH3 {
  text-decoration: none;
  color: white;
  margin: 0; 
  height: fit-content;
  padding: 0px 25px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 30px;
}

.HomePageCenterDiv {
  background-color: #ffeee5;
  min-height: 350px;
  padding: 80px 0px 20px;
}

.HomePageCenterDiv p {
  color:black;
  margin: 0px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.HomePageCenterDiv div input {
  margin: 25px;
  padding: 5px;
  width: 35%;
}
.link {
  text-decoration: none;
  color:initial
}
.HomePagButton {
  text-decoration: none;
  background-color: #ff5a00;
  font-size:medium;
  padding: 15px 40px 15px ;
  border-style: none;
  border-radius: 15px;
  color: white;
}
.HomePageCenterDiv img{
  width: 800px;
  height: 600px;
  border-radius: 30px;
}

.AllResturantDiv {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px;
 }
.AllResturantDiv1{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 800px;
  border-radius: 2px;
  border-width: 0.2px;
  border-style: solid;
  border-top: 0px;
  border-color: black;
  box-shadow: 10px 10px 5px #ccc;
  padding: 15px;
  align-items: center;
}
.AllResturantDiv1 input {
  align-self: flex-end;
  width: 260px;
  height: 30px;
  padding-left: 5px;
  margin-right: 25px;
}

.AllResturantDiv2{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 800px;
  flex-wrap: wrap;
  
}
.ResturantListItem{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #BEBEBE;
  padding: 5px;
  transition: all .2s ease-in-out;
}
.ResturantListItem img{
  width: 150px;
  height: 150px;
}
.ResturantListItem p{
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ResturantListItem:hover { 
  transform: scale(1.1); 

 
  box-shadow: 10px 10px 5px #ccc;
}