.App {
  margin: 0;
  text-align: center;
  color: white;
  
}

.Navbar {
  background-color: #ff5a00;
  min-height: 60px;
  display: flex;
  padding: 20px 40px 0px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.NavbarH2 {
  margin: 0; 
  text-decoration: none;
  color: white;
}
.NavbarH3 {
  text-decoration: none;
  color: white;
  margin: 0; 
  height: fit-content;
  padding: 0px 25px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 30px;
}

.HomePageCenterDiv {
  background-color: #ffeee5;
  min-height: 350px;
  padding: 80px 0px 20px;
}

.HomePageCenterDiv p {
  color:black;
  margin: 0px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.HomePageCenterDiv div input {
  margin: 25px;
  padding: 5px;
  width: 35%;
}

.HomePagButton {
  text-decoration: none;
  background-color: #ff5a00;
  font-size:medium;
  padding: 15px 40px 15px ;
  border-style: none;
  border-radius: 15px;
  color: white;
}
.HomePageCenterDiv img{
  width: 800px;
  height: 600px;
  border-radius: 30px;
}

